<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="cordova-update-security-provider"
      version="1.0.0">
    <name>Cordova Update Security Provider</name>
    <description>Cordova Update Security Provider</description>
    <license>Apache 2.0</license>
    <keywords>cordova, update, security, provider, android, google, play-services, play, services</keywords>


    <js-module src="www/SecurityProviderPlugin.js" name="SecurityProvider">
        <clobbers target="SecurityProvider" />
    </js-module>

    <!-- android -->
    <platform name="android">        
        <source-file src="src/SecurityProvider.java" />
        <!-- Depend on latest version of GCM from play services -->
        <framework src="com.google.android.gms:play-services-base:11.0.0" />
        <!-- Depend on v21 of appcompat-v7 support library -->
        <framework src="com.android.support:appcompat-v7:21+" />  
    </platform>
</plugin>