<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="com.abhishekjoshi.update-security-provider-cordova"
      version="1.0.0">
    <name>Cordova Update Security Provider</name>
    <description>Cordova Update Security Provider</description>
    <license>Apache 2.0</license>
    <keywords>cordova, update, security, provider, android, google, play-services, play, services</keywords>


    <js-module src="www/SecurityProviderPlugin.js" name="SecurityProviderPlugin">
        <clobbers target="SecurityProviderPlugin" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <!-- <config-file target="res/xml/config.xml" parent="/*">

        </config-file> -->
        
        <source-file src="src/android/SecurityProvider.java" target-dir="src/com/abhishekjoshi/update-security-provider-cordova" />
        <!-- <lib-file src="src/android/google-play-services.jar" /> -->
    </platform>
</plugin>