<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="cordova-update-security-provider"
      version="1.0.0">
    <name>Cordova Update Security Provider</name>
    <description>Cordova Update Security Provider</description>
    <license>Apache 2.0</license>
    <keywords>cordova, update, security, provider, android, google, play-services, play, services</keywords>

    <js-module src="www/SecurityProviderPlugin.js" name="SecurityProvider">
        <clobbers target="SecurityProvider" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="SecurityProvider">
                <param name="android-package" value="com.abhishekjoshi.updatesecurityprovider.SecurityProvider" />
            </feature>
        </config-file>

        <source-file src="src/SecurityProvider.java" target-dir="src/com/abhishekjoshi/updatesecurityprovider" />        <!-- Depend on latest version of GCM from play services -->
        <!-- Depend on latest version of GCM from play services -->
        <framework src="com.google.android.gms:play-services-base:11.8.0" />
        <framework src="com.android.support:appcompat-v7:26.1.0" />
    </platform>
</plugin>